<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="f_addressH" value="410"/>
    <add key="slaveID" value="1"/>
    <add key="port" value="502"/>
    <add key="ip1" value="140"/>
    <add key="ip2" value="118"/>
    <add key="ip3" value="222"/>
    <add key="ip4" value="49"/>
    <add key="IP_number" value="2"/>
    <add key="timer1_2_interval" value="100"/>
    <add key="timer3_4_interval" value="10"/>
    <add key="web_address" value="http://140.118.171.124:8080/modeChart/"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
